<a href="https://colab.research.google.com/github/hackergod00001/various-data-exploration-operations-and-data-cleaning-using-python/blob/master/DWM_exp_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Aim: To perform various data exploration operations and data cleaning using python.**

**Loading Data from CSV files:**

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import openpyxl
import os

Q1) How to load data file?

1-read_csv

2-read_table

3-read_clipboard

In [16]:
# 1.
df= pd.read_csv("/content/EXPT3-heart.csv")

df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [13]:
# 2.
df2=pd.read_table('/content/EXPT3-heart.csv',delimiter=',')
df2.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [15]:
# 3.
# df3=pd.read_clipboard('/content/EXPT3-heart.csv')
# df3.head()